body {
  font-family: "poppins", sans-serif;
  margin: 0;
  color: rgb(34, 34, 34);
}
h1 {
  font-size: 50px;
  line-height: 20px;
  font-weight: 600;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 19px;
}
span {
  color: #7e57c2;
}
.anchor-button {
  text-decoration: none;
  background-image: linear-gradient(-45deg, #7e57c2, #d175d4);
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  width: 37%;
}
.row img {
  width: 80%;
}
.hero-section img {
  display: block;
  margin-left: 150px;
}
.hero-section {
  background-image: url(./assets/Untitled-2.jpg);
}
.dream-section {
  background-image: url(./assets/Untitled-4.jpg);
}
.experiences-section h2 {
  text-align: center;
}
.experiences-section .col {
  box-shadow: 10px 10px 40px #caadfc;
  height: 280px;
  padding: 40px;
}
.experiences-section .row {
  gap: 80px;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(#d175d4, #7e57c2);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(#1bd2d7, #2eff45);
  border-image-slice: 1;
}
.experiences-section h4 {
  color: #7e57c2;
}
.experiences-section {
  background-image: url(./assets/Untitled-3.jpg);
}
footer p {
  text-align: center;
}
footer {
  margin-top: 50px;
}
